{% extends 'Template/Email/base.html.twig' %}

{% block typeEmail %}
    <b>{{ action }}</b>
{% endblock %}

{% block body %}
    <table class="container content dark-theme">
        <tr>
            <td>
                <!-- begin row -->
                <table class="row">
                    <tr>
                        <!-- begin wrapper -->
                        <td class="wrapper">
                            <table class="twelve columns">
                                <tr>
                                    <td class="last">
                                        <h4>Estimado {{ appUser.name }} {{ appUser.surname }};</h4>
                                        <p class="m-b-5">
                                            Hemos recibido una solicitud para realizar un cambio de contraseña.
                                            Para verificar la propiedad de sus cuenta, utilice el enlace a continuación
                                            para navegar a nuestra página de verificación.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="panel">
                                        <a href="{{ absolute_url(path('security_restore_password',{'token':token})) }}">{{ absolute_url(path('security_restore_password',{'token':token})) }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="m-t-15 last">Si hacer clic en la URL anterior no funciona, copie y pegue la URL en una ventana del navegador.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="m-t-15 last">Si cree que esta solicitud se envió por error, puede ignorar la verificación
                                            ya que solo es valida por 15 minutos.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p class="m-t-15 last">¡Que tengas una excelente jornada!</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <!-- end wrapper -->
                    </tr>
                </table>
                <!-- end row -->
                <!-- begin divider -->
                <table class="divider"></table>
                <!-- end divider -->
                <!-- begin row -->
                <table class="row">
                    <tr>
                        <!-- begin wrapper -->
                        <td class="wrapper">
                            <!-- begin twelve columns -->
                            <table class="twelve columns">
                                <tr>
                                    <td>
                                        <p>
                                            ¡Agregue <a href="mailto:{{ parameter('email') }}">{{ parameter('email') }}</a> a sus contactos!
                                        </p>
                                    </td>
                                </tr>
                            </table>
                            <!-- end twelve columns -->
                            <p>
                                <i>Este es un correo electrónico generado por el sistema y no se requiere respuesta.</i>
                            </p>
                        </td>
                        <!-- end wrapper -->
                    </tr>
                </table>
                <!-- end row -->
            </td>
        </tr>
    </table>
{% endblock %}